spring:
  application:
    name: eureka-service
server:
  port: 8083
eureka:
  client:
    register-with-eureka: false
    fetch-registry: false
    service-url:
      defaultZone: http://locolhost:8083/eureka